<section class="section">
  <div class="container">
    <p class="title"><%= @park.name %></p>
    <div id="map" class="card"></div>
  </div>
</section>
<section class="section">
  <div class="container">
    <p class="title">Species in this park:</p>
    <ul>
      <% if species(@park.id).length > 0 %>
        <% species(@park.id).each do |s| %>
          <li><%= link_to s.plant.common_name, s.plant, class:"has-text-success" %></li>
        <% end %>
      <% else %>
        <li>No Species Found :(</li>
      <% end %>
    </ul>
  </div>
</section>
<script>
(function() {
  const origin = {
    latitude: <%= @park.latitude %>,
    longitude: <%= @park.longitude %>,
  }
  const trees = [
    <% @plants.each do |parkplant| %>
      {
        common_name: '<%= parkplant.plant.common_name %>',
        latitude: <%= parkplant.latitude %>,
        longitude: <%= parkplant.longitude %>,
        diameter: <%= parkplant.diameter %>,
        family_link: '<% if not parkplant.plant.family.nil? %><%= link_to parkplant.plant.family.name, parkplant.plant.family, class:"has-text-success" %><% end %>',
        genus_link: '<% if not parkplant.plant.genus.nil? %><%= link_to parkplant.plant.genus.name, parkplant.plant.genus, class:"has-text-success" %><% end %>',
        species_link: '<%= link_to parkplant.plant.scientific_name, parkplant.plant, class:"has-text-success" %>',
      },
    <% end %>
  ];

  // Initialize the map
  const map = L.map('map').setView([origin.latitude, origin.longitude], 17);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  trees.forEach(tree => {
    L.marker([tree.latitude, tree.longitude]).addTo(map)
      .bindPopup(`
        <h2 class="is-size-4 has-text-weight-bold">${tree.common_name}</h2>
        <p class="mb-0">This tree has a diameter of ${tree.diameter}cm.</p>
        <hr class="my-2">
        <b>Family: </b>${tree.family_link}<br>
        <b>Genus: </b>${tree.genus_link}<br>
        <b>Species: </b>${tree.species_link}</p>
      `);
  });
})();
</script>
