<section class="section">
  <div class="container">
    <p class="title"><%= @plant.common_name %></p>
    <p class="subtitle"><%= @plant.scientific_name %></p>
    <p><b>Family: </b><%= @plant.family.name %></p>
    <p><b>Genus: </b><%= link_to @plant.genus.name, @plant.genus, class:"has-text-success" %></p>
    <hr>
    <img src="<%= @plant.image_url %>">
  </div>
</section>